
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono');

// Font variables
$space-mono: 'Space Mono', Arial, sans-serif;
$open-sans: 'Open Sans', Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}