
//
// VARIABLES
//

// Colors
$blue: #4183C4;			//a colour (formerly blue)

// Grays (original colours)
//$black: #000;
//$darkerGray: #222;
//$darkGray: #333;
//$gray: #666;
//$lightGray: #eee;
//$white: #fff;

// Grays
$black: #eceff1;		//Selection colour (formerly black)
$darkerGray: #222;		//Headings font colour (formerly darkerGray)
$white: #ffffff;		//Body font colour (formerly darkGray)
$gray: #eceff1;			//h4 font colour (formerly gray)
$darkGray: #263238;		//Selection background colour (formerly lightGray)
$blueGray: #819ca9;		//Background colour (formerly white)


// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono');

// Font variables
$space-mono: 'Space Mono', Arial, sans-serif;
$open-sans: 'Open Sans', Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}